{% extends 'layout/base.html' %}

{% block title %}Edit Profile{% endblock %}

{% block css %}
 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-geosearch@3.0.0/dist/geosearch.css" />
{% endblock %}

{% block content %}
<section>
<div class="align-items-center">
 <div class="col-sm-10 m-auto">
                            <h2>Edit your Profile</h2>
                            <form action="{{ url_for('edit_profile') }}" method="post" class="m-auto">
                               <div class="row">
							   <!-- First name -->
							    <div class="mb-3 col-lg-6">
                                        <h6 class="pt-2">First Name</h6>
                                        <input type="text" class="form-control fs-4 py-3" name="fname" id="fname" value="{{ user_data.firstName }}">
                                    </div>
								<!-- End First name -->
								
								<!-- Last name -->
                                    <div class="mb-3 col-lg-6">
                                        <h6 class="pt-2">Last Name</h6>
                                        <input type="text" class="form-control fs-4 py-3" name="lname" id="lname" value="{{ user_data.lastName }}">
                                    </div>
								<!-- End Last Name -->	
								
								<!-- Date -->
                                    <div class="mb-3">
                                        <h6 class="pt-2">Date Of Birth</h6>
                                        <input type="date" class="form-control  fs-4 py-3 fs-4 py-3" name="dob" id="dob" value="{{ user_data.dateOfBirth }}">
                                    </div>
								<!-- End Date -->	
								
								<!-- Role Type -->
								<div class="mb-3">
                                        <h6 class="pt-2">Role</h6>
                                        <select class="form-select fs-4 py-3" name="role" id="role">
                                            <option value="student"  {% if user_data.role == 'student' %} selected {% endif %}>Student</option>
                                            <option value="parent" {% if user_data.role == 'parent' %} selected {% endif %}>Parent</option>
                                            <option value="teacher" {% if user_data.role == 'teacher' %} selected {% endif %}>Teacher</option>
                                            <option value="other" {% if user_data.role == 'other' %} selected {% endif %}>Other</option>
                                        </select>
                                    </div>
								<!-- End Role Type -->
								
								<!-- Email -->
                                    <div class="mb-3">
                                        <h6 class="pt-2">Email</h6>
                                        <input type="text" class="form-control  fs-4 py-3 fs-4 py-3" name="email" id="email" value="{{ user_data.email }}">
                                    </div>
								<!-- End Email -->	
								
								<!-- Password -->
                                    <div class="mb-3">
                                        <h6 class="pt-2">Password</h6>
                                        <input type="password" class="form-control  fs-4 py-3 fs-4 py-3" name="password" id="password">
										<p class="form-text fs-5">Leave this field blank to keep the current password.</p>
                                    </div>
								<!-- End Passwrod -->

									
								<!-- Home Address -->
								
								<h6 class="pt-2">Home Address</h6>
								<div class="input-group mb-3">
									
									<input type="text" class="form-control fs-4 py-3 fs-4 py-3" id="search-input" 
									{% if user_data.get('home_address') %} value="{{ user_data.home_address.label }}" {% endif %}
									 placeholder="Enter location" >
								<div class="input-group-append">
								
								</div>
								</div>
								<p class="form-text fs-5">Select Address from below dropdown</p>
								<div id="search-results"></div>
								<!-- End Home Address -->
								
								<!-- button -->
								<div class="mb-3 mt-5">
                                        <input type="submit" value="Update" class="btn al-btn me-2">
                                        <button class="btn al-btn al-btn-danger"><a href="{{url_for('user_profile')}}" style="color:#fff">Cancle</a></button>
                                    </div>
									<!-- End button -->
							   </div>
                            </form>
                        </div>
						</div>
            </section>
{% endblock %}

{% block js %}

<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>
	 
<script src="https://unpkg.com/leaflet-geosearch@latest/dist/bundle.min.js"></script>


<script>
		// search 
		// Initialize Leaflet-Geosearch
const provider = new GeoSearch.OpenStreetMapProvider();

// Get DOM elements
const searchInput = document.getElementById('search-input');
const searchBtn = document.getElementById('search-btn');
const searchResults = document.getElementById('search-results');

// Function to perform search
function performSearch() {
    const query = searchInput.value.trim();
    

    /* if (query === '') {
		$('#search-input').after('<span class="text-danger fs-5 input-error">Please enter a location</span>');
        //alert('Please enter a location');
        return;
    }*/

    provider.search({ query })
        .then(results => {
            displaySearchResults(results);
        })
        .catch(error => {
            console.error('Error fetching search results:', error);
            searchResults.innerHTML = '<p>An error occurred while fetching search results.</p>';
        });
}

// Function to display search results in a dropdown
function displaySearchResults(results) {
    searchResults.innerHTML = ''; // Clear previous results

    if (results.length === 0) {
        searchResults.innerHTML = '<p>No results found.</p>';
        return;
    }

    const select = document.createElement('select');
    select.setAttribute('id', 'search-select');
    select.setAttribute('name', 'home_address');
    select.style.width = '100%';
	select.classList.add('form-select', 'fs-4', 'py-3'); // Use classList.add to add multiple classes

    results.forEach(result => {
        const option = document.createElement('option');
        option.textContent = result.label;
        option.setAttribute('value', JSON.stringify(result)); // Store full result object as value
        select.appendChild(option);
    });

    searchResults.appendChild(select);
}

// Event listener for search button click
searchInput.addEventListener('keyup', performSearch);
searchBtn.addEventListener('click', performSearch);


/*-----------------------------------------------------------------------------*/
		// form validation 
		$(document).ready(function() {
            $('form').on('submit', function(event) {
                // Prevent form submission
                event.preventDefault();

                // Clear previous error messages
                $('.input-error').remove();

                // Validate form fields
                var isValid = true;

				
				$('input[type!="password"], select').each(function() {
            // Exclude fields based on type and id/class
            if ($(this).attr('id') !== 'search-input' && $(this).val().trim() === '') {
                isValid = false;
                $(this).after('<span class="text-danger fs-5 input-error">* This field is required.</span>');
            }
        });
		
                // Check if all fields are filled (except for password)
				/*$('input[type!="password"]').each(function() {
					if ($(this).val() === '') {
						isValid = false;
						$(this).after('<span class="text-danger fs-5 input-error">* This field is required.</span>');
					}
				});*/

                // If all validations pass, submit the form
                if (isValid) {
                    this.submit();
                }
            });
			
			
			// email address exist validations
			$('#email').on('focusout',function(e){
				var email = $(this).val();
					$.ajax({
						url: "{{ url_for('email_validation_for_update') }}",
						method: 'GET',
						data: { email: email },
						success: function(result) {
							if(result.valid) {
								$('.input-error').remove();
								$('input[type="submit"]').prop('disabled', false);
							} else {
							event.preventDefault();
							$('.input-error').remove();
								$('#email').after('<span class="text-danger fs-5 input-error">This email is already registered in our database. Please enter another one.</span>');
								$('input[type="submit"]').prop("disabled",true);
							}
						},
						error: function(xhr, status, error) {
							alert("An error occurred: " + error);
						}
					});
				});
        });
    </script>
{% endblock %}