{% extends 'layout/base.html' %}

{% block title %}Forgot Password{% endblock %}

{% block content %}
<!-- Forget Password Section Start -->
<section class="login">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-lg-6 col-xl-4 mx-auto rounded-3 border p-5">
				<div>
					<h2>Forgot Password</h2>
				</div>
					
					{% with messages = get_flashed_messages() %}
					{% if messages %}
						{% for message in messages %}
							<p class="text-danger fs-5">{{ message }}</p>
						{% endfor %}
					{% endif %}
					{% endwith %}
					
					
					{% if message is defined %}
						<p class="text-danger fs-5">* {{ message }}</p>
					{% endif %}
					
					{% if success_message is defined %}
						<p class="text-success fs-5">{{ success_message }}</p>
					{% endif %}


                    <form action="{{url_for('forget_password')}}"
				      method="post">
					<div class="mb-3">
						<input type="email"
						       class="form-control fs-4 py-3"
						       name="email"
						       id="email"
						       placeholder="name@example.com">
                        </div>
						<input type="submit"
						       class="btn al-btn w-100 my-4"
						       value="Submit">
                        
                 
                    </form>
					</div>
				</div>
			</div>
		</section>
		<!-- Forget Password Section End -->
{% endblock %}

{% block js %}
<script>
        $(document).ready(function() {
            $('form').on('submit', function(event) {
                // Prevent form submission
                event.preventDefault();

                // Clear previous error messages
                $('.input-error').remove();

                // Validate form fields
                var isValid = true;

                // Check if all fields are filled
                $('input').each(function() {
                    if ($(this).val() === '') {
                        isValid = false;
                        $(this).after('<span class="text-danger fs-5 input-error">This field is required.</span>');
                    }
                });

                // If all validations pass, submit the form
                if (isValid) {
                    this.submit();
                }
            });
        });
    </script>
{% endblock %}
