{% extends 'layout/base.html' %}

{% block title %}Reset Password{% endblock %}

{% block content %}
<section class="login">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-lg-6 col-xl-4 mx-auto rounded-3 border p-5">
				<div>
					<h2>Reset Password</h2>
				</div>
					
					{% if message is defined %}
						<p class="text-danger fs-5">* {{ message }}</p>
					{% endif %}
				

                    <form action="{{ url_for('reset_password', token=token) }}"
				      method="post">
					<div class="mb-3">
						<input type="password"
						       class="form-control fs-4 py-3"
						       name="password"
						       id="password"
						       placeholder="New Password">
                    </div>
					
					<div class="mb-3">
						<input type="password"
						       class="form-control fs-4 py-3"
						       id="c_password"
						       placeholder="Confirm Password">
                    </div>
					
						<input type="submit"
						       class="btn al-btn w-100 my-4"
						       value="Submit">
                 
                    </form>
					</div>
				</div>
			</div>
		</section>
{% endblock %}

{% block js %}
<script>
        $(document).ready(function() {
            $('form').on('submit', function(event) {
                // Prevent form submission
                event.preventDefault();

                // Clear previous error messages
                $('.input-error').remove();

                // Validate form fields
                var isValid = true;

                // Check if all fields are filled
                $('input').each(function() {
                    if ($(this).val() === '') {
                        isValid = false;
                        $(this).after('<span class="text-danger fs-5 input-error">This field is required.</span>');
                    }
                });
				
				// Check if passwords match
                var password = $('#password').val();
                var c_password = $('#c_password').val();
                if (password !== c_password) {
                    isValid = false;
                    $('#c_password').after('<span class="text-danger fs-5 input-error">Passwords do not match.</span>');
                }

                // If all validations pass, submit the form
                if (isValid) {
                    this.submit();
                }
            });
        });
    </script>
{% endblock %}
