<!-- Swiper JS cdn link -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/swiper-bundle.min.css') }}" />

<!-- Bootstrap CSS Link -->
<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

<!-- Fontawesome Link -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/all.min.css') }}"
    integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

<!-- Custom CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">

