<!-- Footer Section Start -->
    <footer class="footer bd-footer pt-5 mt-5 px-1">
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-lg-3  mb-4 footer-logo">
                        <img src="{{ url_for('static', filename='images/logo-white-svg.svg') }}" alt="logo" class="d-block logo" />
                        <div class="footer-text">
                            <ul class="list-unstyled small">
                                <li class="mb-2">
                                    Designed and built with all the love in the world by the
                                    Darshan Dhanani.
                                </li>
                            </ul>
                        </div>
                        
                    </div>
                    <div class="col-6 col-lg-2 offset-lg-1 mb-4">
                        <h5 class="footer-title">Pages</h5>
                        <ul class="list-unstyled  footer-text">
                            <li class="mb-2">
                                <a class="text-decoration-none " href="/">Home</a>
                            </li>
                            <li class="mb-2">
                                <a class="text-decoration-none " href="{{ url_for('map') }}">Map</a>
                            </li>
                            
                        </ul>
                    </div>
                   
                    
                   
                    <div class="col-12 footer-credits text-center">
                        <p>&copy; <a href="/" target="_blank" title="ArbeitLinkers">PathFinder</a>&trade;. All
                            Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </section>
    </footer>
<!-- Footer Section End -->